.card {
    background-color: #f0f0f0; /*  cor dos cards */
}

.card-title {
     color: #090c1b; /*titulo dos cards */
}

.card-text {
    color: #1f1f1f; /*textos dos cards */
}

.btn-primary {
    background-color: rgb(49, 150, 245); /* botão de comprar */
   
}

.btn-primary:hover {
    background-color: #eeecec;
}


.nav-link {
    color:black;
}

